{
  "ignore": ["boilerplate"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "node": "8"
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "codeblog": "./"
        }
      }
    ],
    "babel-plugin-transform-css-import-to-string",
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "",
        "baseUri": "http://codeblog-public.storage.googleapis.com"
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-node-env-inline"
  ]
}
